In [99]:
import json
import string
import nltk
import pandas as pd
import numpy as np
import itertools
import matplotlib.pyplot as plt

In [100]:
business = pd.read_json('business_city.json', lines=True)
review = pd.read_json('review_city.json', lines=True)
tip = pd.read_json('tip_city.json', lines=True)
user = pd.read_json('user_city.json', lines=True)

In [101]:
business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,pQeaRpvuhoEqudo3uymHIQ,The Empanadas House,404 E Green St,Champaign,IL,61820,40.110446,-88.233073,4.5,5,1,"{'RestaurantsAttire': 'u'casual'', 'Restaurant...","Ethnic Food, Food Trucks, Specialty Food, Impo...","{'Monday': '11:30-14:30', 'Tuesday': '11:30-14..."
1,7Dv4_HAxsxvadEsT5fxQBg,Dependable Brakes & Exhaust,1110 Saw Mill Run Blvd,Pittsburgh,PA,15226,40.406667,-80.004450,5.0,5,1,{'BusinessAcceptsCreditCards': 'True'},"Automotive, Auto Repair","{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ..."
2,M_guz7Dj7hX0evS672wIwA,Chocolate Shoppe Ice Cream,2831 Parmenter St,Middleton,WI,53562,43.105310,-89.510142,3.5,6,1,"{'BikeParking': 'True', 'Caters': 'True', 'Whe...","Desserts, Food, Ice Cream & Frozen Yogurt","{'Monday': '0:0-0:0', 'Tuesday': '11:0-21:0', ..."
3,03x6ZlJ7s39DHqfTJU1Ecg,Beechmont Country Club,29600 Chagrin Blvd,Beachwood,OH,44122,41.461448,-81.470127,4.5,7,1,"{'GoodForKids': 'True', 'BusinessAcceptsCredit...","Event Planning & Services, Venues & Event Spac...",None
4,_4Oe9V-qTpU5iemM9bphlA,Goodyear Auto Service Center,"800 Fort Duquesne Blvd, Ste 1",Pittsburgh,PA,15222,40.444614,-79.999344,3.5,12,1,{'BusinessAcceptsCreditCards': 'True'},"Oil Change Stations, Auto Repair, Automotive, ...","{'Monday': '7:0-18:0', 'Tuesday': '7:0-18:0', ..."

In [102]:
review.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,LG2ZaYiOgpr2DK_90pYjNw,V34qejxNsCbcgD8C0HVk-Q,HQl28KMwrEKHqhFrrDqVNQ,5,1,0,0,I love Deagan's. I do. I really do. The atmosp...,2015-12-05 03:18:11
1,qWHp2l2lysENZObh6MAulA,5lb0POg2t-AkMFx6603cYQ,ZlCSsWS07JulSBIQlrbF5w,5,1,0,0,Called for a 5:15 morning reservation. The dri...,2015-05-26 10:36:47
2,Ne_2CSfcKIqXHmv_KC0uqg,6sJN_HlM_uwpfLJ1puf1Fg,oVuZtlCFg_zF090Nhtp0Ow,4,3,0,1,A close friend was in town and so instead of t...,2018-02-01 19:15:00
3,2mLlQ9n5Ln_fykOuX_b0-A,EZ6g9a17UdMjtR-wrZebmA,wSAGILK2CFbq5BVZ5D67-A,3,0,0,0,The service is attentive. The decor attractive...,2015-06-21 00:07:59
4,Ymb8ZYPg2e8dvqhdj3Gkqw,hHFSpKcnDtJOs6M-JKFZ8Q,oCvxJBOs-Mbg-4oanPO7lQ,4,0,0,0,The ingredients are always fresh and I like th...,2016-10-26 14:53:42

In [103]:
tip.head()

,user_id,business_id,text,date,compliment_count
0,NfU0zDaTMEQ4-X9dbQWd9A,5VXxZIMgoKRWbNa6x9kMfw,Gordon Square sundae for the little one!,2012-03-17 00:36:24,0
1,Yi5KGA-QvolRWNeDfzEKrw,Egd-0nDgzZGEVA0R09yyUQ,Salmon Melissa,2011-08-04 21:54:35,0
2,rpK40ZN2rNFJLhfdlQqS-Q,qpmd3uD2ffE29J6wK-RkrQ,The gas here is usually cheaper than regular g...,2011-04-10 18:43:14,0
3,dt9IHwfuZs9D9LOH7gjNew,M5lsAGp-jPwzHAVfIaEx6g,No longer in the flats.,2014-02-15 23:55:49,0
4,CbmNBkKa9QKNxPiN_whFUw,lwuio1wYukQ_WaC8PPaS4Q,Impossible an alien has taken over!,2012-01-11 11:42:24,0

In [104]:
user.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,xvu8G900tezTzbbfqmTKvA,Anne,485,2008-08-09 00:30:27,1265,400,512,"2009,2010,2011,2012,2014,2015,2016,2017,2018","3W3ZMSthojCUirKEqAwGNw, eTIbuu23j9tOgmIa9POyLQ...",78,...,9,2,1,1,22,28,31,31,19,31
1,z5_82komKV3mI4ASGe2-FQ,Steve,186,2007-02-27 07:09:40,642,192,155,2007,"E-fXXmALnZTPmzzL6rV4cQ, L2g6vS1GDfqLEpiDOFfCkA...",15,...,16,7,7,2,60,36,32,32,8,9
2,QG13XBbgHWydzThRBGJtyw,Claire,218,2007-06-04 00:14:10,587,372,426,"2008,2009","tnfVwTpuPlR6W2xEAMiqsg, Bd_16T8Dva27lF5LIrUmcQ...",31,...,5,1,5,3,18,24,37,37,17,5
3,I_6wY8_RsewziNnKhGZg4g,Jeff,405,2010-08-05 18:42:29,799,244,312,"2010,2011,2012,2013,2014,2015,2016,2017","OGa2q6LvuQLYFUG_RCcALw, 0uM2R-uMBemiNlrFG5j56A...",13,...,8,3,0,1,19,48,76,76,14,6
4,1WBxJ2r3A2QYfRSEzgcmkQ,Evan Thoreau,315,2009-10-30 15:05:44,658,251,361,"2010,2011,2012,2013,2014,2015,2016","JUsNVy1vopeN61geWX6qRw, KDrRwgcGfMHzJXACVtreMA...",31,...,4,4,1,1,52,151,50,50,33,5

In [114]:
raw_business = pd.merge(review,business, how="left",on="business_id")
raw_business.head()

,review_id,user_id,business_id,stars_x,useful,funny,cool,text,date,name,...,state,postal_code,latitude,longitude,stars_y,review_count,is_open,attributes,categories,hours
0,LG2ZaYiOgpr2DK_90pYjNw,V34qejxNsCbcgD8C0HVk-Q,HQl28KMwrEKHqhFrrDqVNQ,5,1,0,0,I love Deagan's. I do. I really do. The atmosp...,2015-12-05 03:18:11,Deagan's Kitchen & Bar,...,OH,44107,41.485192,-81.800145,4.0,417,1,"{'BusinessAcceptsCreditCards': 'True', 'Outdoo...","Restaurants, Gastropubs, Nightlife, American (...","{'Tuesday': '11:0-22:0', 'Wednesday': '11:0-22..."
1,qWHp2l2lysENZObh6MAulA,5lb0POg2t-AkMFx6603cYQ,ZlCSsWS07JulSBIQlrbF5w,5,1,0,0,Called for a 5:15 morning reservation. The dri...,2015-05-26 10:36:47,Black Cab & Limo,...,IL,,40.116420,-88.243383,4.5,28,1,{'WiFi': 'u'free''},"Airport Shuttles, Transportation, Taxis, Hotel...","{'Monday': '8:0-20:0', 'Tuesday': '8:0-20:0', ..."
2,Ne_2CSfcKIqXHmv_KC0uqg,6sJN_HlM_uwpfLJ1puf1Fg,oVuZtlCFg_zF090Nhtp0Ow,4,3,0,1,A close friend was in town and so instead of t...,2018-02-01 19:15:00,Choolaah Indian BBQ,...,PA,15206,40.460266,-79.923461,4.0,302,1,"{'RestaurantsTableService': 'False', 'Restaura...","Restaurants, Indian, Vegetarian, Vegan, Gluten...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-17:0', ..."
3,2mLlQ9n5Ln_fykOuX_b0-A,EZ6g9a17UdMjtR-wrZebmA,wSAGILK2CFbq5BVZ5D67-A,3,0,0,0,The service is attentive. The decor attractive...,2015-06-21 00:07:59,Adega,...,OH,44115,41.499615,-81.685922,4.0,201,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Mediterranean, Hotels, Beer, Wine & Spirits, B...","{'Monday': '6:30-22:0', 'Tuesday': '6:30-22:0'..."
4,Ymb8ZYPg2e8dvqhdj3Gkqw,hHFSpKcnDtJOs6M-JKFZ8Q,oCvxJBOs-Mbg-4oanPO7lQ,4,0,0,0,The ingredients are always fresh and I like th...,2016-10-26 14:53:42,Pita Pit,...,PA,15203,40.426647,-79.965902,3.5,57,1,"{'RestaurantsPriceRange2': '1', 'RestaurantsAt...","Fast Food, Greek, Breakfast & Brunch, Restaura...","{'Monday': '10:0-22:0', 'Tuesday': '10:0-22:0'..."

In [120]:
Hotel_index = np.where(raw_business.categories.str.contains('Hotels').values)[0]
Hotel_business = raw_business.iloc[Hotel_index,]
Hotel_business.head()

,review_id,user_id,business_id,stars_x,useful,funny,cool,text,date,name,...,state,postal_code,latitude,longitude,stars_y,review_count,is_open,attributes,categories,hours
1,qWHp2l2lysENZObh6MAulA,5lb0POg2t-AkMFx6603cYQ,ZlCSsWS07JulSBIQlrbF5w,5,1,0,0,Called for a 5:15 morning reservation. The dri...,2015-05-26 10:36:47,Black Cab & Limo,...,IL,,40.116420,-88.243383,4.5,28,1,{'WiFi': 'u'free''},"Airport Shuttles, Transportation, Taxis, Hotel...","{'Monday': '8:0-20:0', 'Tuesday': '8:0-20:0', ..."
3,2mLlQ9n5Ln_fykOuX_b0-A,EZ6g9a17UdMjtR-wrZebmA,wSAGILK2CFbq5BVZ5D67-A,3,0,0,0,The service is attentive. The decor attractive...,2015-06-21 00:07:59,Adega,...,OH,44115,41.499615,-81.685922,4.0,201,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Mediterranean, Hotels, Beer, Wine & Spirits, B...","{'Monday': '6:30-22:0', 'Tuesday': '6:30-22:0'..."
5,nQxoDWJ5kIwjYZhFILqVWQ,lJBI50awi0N8qvX4PKzH7Q,3n685UjMonF4fjBcILXkJg,4,0,0,0,Room was very clean. Staff was exceptionally ...,2017-08-16 11:21:42,Hampton Inn Pittsburgh University/Medical Center,...,PA,15213,40.436035,-79.963010,4.0,60,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Hotels & Travel, Event Planning & Services, Ho...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
15,n2BEHit2SwqsRo6jlTagUA,abdw-Nf5xxWdi5wmUO7UYg,2qLOnQtWSlTOtkfEFyWScg,2,2,0,0,"There are good things, and bad things about th...",2013-04-10 19:26:54,University of Illinois Willard Airport,...,IL,61874,40.036489,-88.263988,4.0,38,1,{'WiFi': 'u'free''},"Hotels & Travel, Airports","{'Monday': '4:0-23:0', 'Tuesday': '4:0-23:0', ..."
20,mrK-GF4zYYj8A3oIlvUVTQ,wurJLbqM_iM0R64dQ8r3Qw,z9lOfnUorcbWR_xS0DSeHw,4,2,1,1,I came for a quick bite and just ordered from ...,2014-08-24 20:25:08,Fugu,...,WI,53703,43.074392,-89.393664,3.5,180,1,"{'RestaurantsDelivery': 'True', 'RestaurantsAt...","Szechuan, Thai, Chinese, Town Car Service, Tra...","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."

In [121]:
Hotel_Madison = Hotel_business[Hotel_business.city == 'Madison']
Hotel_Madison = Hotel_Madison.drop(columns=['city', 'state'])
accomodation_index = np.where(Hotel_Madison.name.str.contains('Hotel'or'Inn'or'Hilton'or'Courtyard'or'Edge'or'Place').values)[0]
Hotel_Madison = Hotel_Madison.iloc[accomodation_index,]
Hotel_Madison.reset_index(drop=True, inplace=True)

In [123]:
Hotel_Madison.shape

(1037, 20)

In [124]:
Hotel_Madison.columns

Index(['review_id', 'user_id', 'business_id', 'stars_x', 'useful', 'funny',
       'cool', 'text', 'date', 'name', 'address', 'postal_code', 'latitude',
       'longitude', 'stars_y', 'review_count', 'is_open', 'attributes',
       'categories', 'hours'],
      dtype='object')

In [125]:
Hotel_Madison = Hotel_Madison.drop(columns=['business_id', 'review_id', 'user_id', 'funny', 'cool', 'date', 'latitude', 'longitude', 'is_open', 'review_count', 'hours'])
Hotel_Madison.head()

,stars_x,useful,text,name,address,postal_code,stars_y,attributes,categories
0,4,1,Our room on the second floor was very nice. Th...,Hotel Ruby Marie,524 E Wilson St,53703,4.0,"{'RestaurantsPriceRange2': '2', 'BusinessAccep...","Bed & Breakfast, Hotels & Travel, Hotels, Even..."
1,3,0,This hotel has good intentions. The service ...,Hotel Ruby Marie,524 E Wilson St,53703,4.0,"{'RestaurantsPriceRange2': '2', 'BusinessAccep...","Bed & Breakfast, Hotels & Travel, Hotels, Even..."
2,4,0,I throughly enjoyed my stay in this very neat ...,Hotel Ruby Marie,524 E Wilson St,53703,4.0,"{'RestaurantsPriceRange2': '2', 'BusinessAccep...","Bed & Breakfast, Hotels & Travel, Hotels, Even..."
3,3,5,"Ok, so I chose this place because I love old, ...",Hotel Ruby Marie,524 E Wilson St,53703,4.0,"{'RestaurantsPriceRange2': '2', 'BusinessAccep...","Bed & Breakfast, Hotels & Travel, Hotels, Even..."
4,5,2,I'm giving this locally owned spot 5 stars for...,Hotel Ruby Marie,524 E Wilson St,53703,4.0,"{'RestaurantsPriceRange2': '2', 'BusinessAccep...","Bed & Breakfast, Hotels & Travel, Hotels, Even..."

In [126]:
text = list(Hotel_Madison.text)

In [16]:
text = [a.lower() for a in text]
text = ["".join([char for char in a if char not in string.punctuation]) for a in text]

In [17]:
words = [nltk.word_tokenize(a) for a in text]

In [18]:
from nltk.corpus import stopwords
stop_words = stopwords.words('english')
filtered_words = [[word for word in a if word not in stop_words] for a in words]

In [19]:
from nltk.stem import WordNetLemmatizer
lmtzr = WordNetLemmatizer()

In [20]:
lemmatized_words = [[lmtzr.lemmatize(x) for x in a] for a in filtered_words]

In [21]:
word_list = list(itertools.chain.from_iterable(lemmatized_words))
from collections import Counter
freq = pd.DataFrame.from_dict(Counter(word_list), orient='index')

In [22]:
freq.sort_values(by=0, ascending=False)

               0
room        4583
hotel       3557
stay        1802
time        1773
great       1740
...          ...
throughput     1
swamped        1
fixwhen        1
excusedid      1
deviate        1

[15564 rows x 1 columns]

In [23]:
dictionary = list(freq[freq[0] > 10].index)

In [24]:
word_embedding = np.zeros([len(lemmatized_words), len(dictionary)])

In [25]:
for i,x in enumerate(lemmatized_words):
    for j,y in enumerate(dictionary):
        word_embedding[i,j] = sum([z == y for z in x])

In [26]:
word_embedding

array([[1., 1., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [27]:
df = pd.concat([Hotel_Madison, pd.DataFrame(word_embedding, columns=dictionary)], axis=1)

In [28]:
df

,stars_x,useful,text,name,address,postal_code,stars_y,attributes,categories,came,...,getz,llama,sheep,sampled,tsa,precheck,flown,ord,americinn,arbor
0,4,2,I came for a quick bite and just ordered from ...,Fugu,411 W Gilman St,53703,3.5,"{'RestaurantsDelivery': 'True', 'RestaurantsAt...","Szechuan, Thai, Chinese, Town Car Service, Tra...",1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3,0,I stayed here twice in a short period of time ...,Fairfield Inn & Suites by Marriott Madison East,2702 Crossroads Dr,53718,3.5,"{'RestaurantsPriceRange2': '2', 'WiFi': 'u'fre...","Hotels & Travel, Event Planning & Services, Ho...",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4,1,Our room on the second floor was very nice. Th...,Hotel Ruby Marie,524 E Wilson St,53703,4.0,"{'RestaurantsPriceRange2': '2', 'BusinessAccep...","Bed & Breakfast, Hotels & Travel, Hotels, Even...",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0,Definitely will go back...best wonton soup I'v...,Fugu,411 W Gilman St,53703,3.5,"{'RestaurantsDelivery': 'True', 'RestaurantsAt...","Szechuan, Thai, Chinese, Town Car Service, Tra...",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,0,Turns out to be just as shady as uber. They l...,Lyft,,35715,2.0,None,"Automotive, Hotels & Travel, Taxis, Transporta...",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4069,1,1,I have never posted a negative review on any s...,Americas Best Value Inn Madison,3438 Highway 12-18,53704,1.5,"{'RestaurantsPriceRange2': '1', 'WiFi': 'u'fre...","Hotels & Travel, Hotels, Event Planning & Serv...",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4070,1,0,I rent 200 plus days a year. Was offered an Im...,National Car Rental,4000 International Ln,53704,2.0,None,"Car Rental, Hotels & Travel",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4071,5,1,This was one of the coolest hotels I've stayed...,Hotel Indigo Madison Downtown,901 E Washington Ave,53703,5.0,"{'BusinessAcceptsBitcoin': 'False', 'Wheelchai...","Venues & Event Spaces, Hotels & Travel, Hotels...",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4072,1,0,The worst National I've been to across the who...,National Car Rental,4000 International Ln,53704,2.0,None,"Car Rental, Hotels & Travel",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4073,5,1,Such a great experience from check in to check...,Hotel Indigo Madison Downtown,901 E Washington Ave,53703,5.0,"{'BusinessAcceptsBitcoin': 'False', 'Wheelchai...","Venues & Event Spaces, Hotels & Travel, Hotels...",0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
df.to_csv('df.csv')

In [30]:
ratio=user.useful/user.review_count
ratio_ind = ratio>2
filtered_user = user[ratio_ind]

In [31]:
raw_tip = pd.merge(filtered_user,tip, how="left",on="user_id")

In [32]:
tip_business = pd.merge(business,raw_tip, how="left",on="business_id")
tip_business.head()

,business_id,name_x,address,city,state,postal_code,latitude,longitude,stars,review_count_x,...,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos,text,date,compliment_count
0,pQeaRpvuhoEqudo3uymHIQ,The Empanadas House,404 E Green St,Champaign,IL,61820,40.110446,-88.233073,4.5,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
1,7Dv4_HAxsxvadEsT5fxQBg,Dependable Brakes & Exhaust,1110 Saw Mill Run Blvd,Pittsburgh,PA,15226,40.406667,-80.004450,5.0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
2,M_guz7Dj7hX0evS672wIwA,Chocolate Shoppe Ice Cream,2831 Parmenter St,Middleton,WI,53562,43.105310,-89.510142,3.5,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
3,03x6ZlJ7s39DHqfTJU1Ecg,Beechmont Country Club,29600 Chagrin Blvd,Beachwood,OH,44122,41.461448,-81.470127,4.5,7,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,Best food best parties best friends hang out a...,2015-08-14 01:28:57,0.0
4,_4Oe9V-qTpU5iemM9bphlA,Goodyear Auto Service Center,"800 Fort Duquesne Blvd, Ste 1",Pittsburgh,PA,15222,40.444614,-79.999344,3.5,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN

In [33]:
tip_index = np.where(tip_business.categories.str.contains('Hotel').values)[0]
Hotel_tip = tip_business.iloc[tip_index,]
Hotel_tip.head()

,business_id,name_x,address,city,state,postal_code,latitude,longitude,stars,review_count_x,...,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos,text,date,compliment_count
98,0JOuIE9U2NJ34Plkrx2k-Q,Wayne Ace Bus And Limo Service,1219 County Rd D,Oregon,WI,53575,42.926112,-89.384563,3.0,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
109,B_wz5DFPuYBLedrk8XW6jA,Holiday Inn Express,2850 Medina Rd,Medina,OH,44256,41.135395,-81.790136,4.0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
142,RqwuaHAybTqbkmGe1RZLXQ,Embassy Suites by Hilton Cleveland Beachwood,3775 Park East Dr,Beachwood,OH,44122,41.457708,-81.492653,3.0,71,...,0.0,75.0,64.0,100.0,100.0,134.0,13.0,Free breakfast and happy hour!,2012-12-05 21:36:03,0.0
143,RqwuaHAybTqbkmGe1RZLXQ,Embassy Suites by Hilton Cleveland Beachwood,3775 Park East Dr,Beachwood,OH,44122,41.457708,-81.492653,3.0,71,...,10.0,144.0,305.0,330.0,330.0,152.0,46.0,Cleveland's Got Sole 3,2012-06-24 18:44:33,0.0
160,L2rs-zndfHOgIcqBrxApqw,PC Travel Service,31 Longview Dr,McKees Rocks,PA,15136,40.460410,-80.099705,2.5,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN

In [34]:
Hotel_tip.columns

Index(['business_id', 'name_x', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count_x', 'is_open',
       'attributes', 'categories', 'hours', 'user_id', 'name_y',
       'review_count_y', 'yelping_since', 'useful', 'funny', 'cool', 'elite',
       'friends', 'fans', 'average_stars', 'compliment_hot', 'compliment_more',
       'compliment_profile', 'compliment_cute', 'compliment_list',
       'compliment_note', 'compliment_plain', 'compliment_cool',
       'compliment_funny', 'compliment_writer', 'compliment_photos', 'text',
       'date', 'compliment_count'],
      dtype='object')

In [35]:
Hotel_tip = Hotel_tip.drop(columns=['business_id', 'name_x', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'review_count_x', 'is_open',
       'attributes', 'categories', 'hours', 'user_id', 'name_y',
       'review_count_y', 'yelping_since', 'useful', 'funny', 'cool', 'elite',
       'friends', 'fans', 'average_stars', 'compliment_hot', 'compliment_more',
       'compliment_profile', 'compliment_cute', 'compliment_list',
       'compliment_note', 'compliment_plain', 'compliment_cool',
       'compliment_funny', 'compliment_writer', 'compliment_photos', 'date', 'compliment_count'])
Hotel_tip.head()

     stars                            text
98     3.0                             NaN
109    4.0                             NaN
142    3.0  Free breakfast and happy hour!
143    3.0          Cleveland's Got Sole 3
160    2.5                             NaN

In [36]:
Hotel_tip = Hotel_tip.dropna()
Hotel_tip.head()

     stars                                               text
142    3.0                     Free breakfast and happy hour!
143    3.0                             Cleveland's Got Sole 3
191    3.0  Use promo "sffby" for a $30 credit if you're a...
315    1.5                              Really nice ppl here!
321    2.5  2nd class citizen is right. I paid a thousand ...

In [37]:
text_tip = list(Hotel_tip.text)
text_tip = [a.lower() for a in text_tip]
text_tip = ["".join([char for char in a if char not in string.punctuation]) for a in text_tip]
words_tip = [nltk.word_tokenize(a) for a in text_tip]
from nltk.corpus import stopwords
stop_words = stopwords.words('english')
filtered_words_tip = [[word for word in a if word not in stop_words] for a in words_tip]
from nltk.stem import WordNetLemmatizer
lmtzr = WordNetLemmatizer()
lemmatized_words_tip = [[lmtzr.lemmatize(x) for x in a] for a in filtered_words_tip]
word_list_tip = list(itertools.chain.from_iterable(lemmatized_words_tip))
from collections import Counter
freq_tip = pd.DataFrame.from_dict(Counter(word_list_tip), orient='index')
freq_tip.sort_values(by=0, ascending=False)
dictionary_tip = list(freq_tip[freq_tip[0] > 10].index)
word_embedding_tip = np.zeros([len(lemmatized_words_tip), len(dictionary_tip)])
for i,x in enumerate(lemmatized_words_tip):
    for j,y in enumerate(dictionary_tip):
        word_embedding_tip[i,j] = sum([z == y for z in x])
word_embedding_tip

array([[1., 1., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [38]:
Tip_star=Hotel_tip.stars
Tip_star.reset_index(drop=True, inplace=True)
Tip_star.head()

0    3.0
1    3.0
2    3.0
3    1.5
4    2.5
Name: stars, dtype: float64

In [39]:
df_tip = pd.concat([Tip_star, pd.DataFrame(word_embedding_tip, columns=dictionary_tip)], axis=1)
df_tip.head()

,stars,free,breakfast,hour,cleveland,got,3,use,youre,first,...,way,would,downtown,beautiful,water,suite,amazing,desk,bed,better
0,3.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2.5,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
df_tip.to_csv('df_tip.csv')

In [41]:
Hotel_Madison

,stars_x,useful,text,name,address,postal_code,stars_y,attributes,categories
0,4,2,I came for a quick bite and just ordered from ...,Fugu,411 W Gilman St,53703,3.5,"{'RestaurantsDelivery': 'True', 'RestaurantsAt...","Szechuan, Thai, Chinese, Town Car Service, Tra..."
1,3,0,I stayed here twice in a short period of time ...,Fairfield Inn & Suites by Marriott Madison East,2702 Crossroads Dr,53718,3.5,"{'RestaurantsPriceRange2': '2', 'WiFi': 'u'fre...","Hotels & Travel, Event Planning & Services, Ho..."
2,4,1,Our room on the second floor was very nice. Th...,Hotel Ruby Marie,524 E Wilson St,53703,4.0,"{'RestaurantsPriceRange2': '2', 'BusinessAccep...","Bed & Breakfast, Hotels & Travel, Hotels, Even..."
3,4,0,Definitely will go back...best wonton soup I'v...,Fugu,411 W Gilman St,53703,3.5,"{'RestaurantsDelivery': 'True', 'RestaurantsAt...","Szechuan, Thai, Chinese, Town Car Service, Tra..."
4,1,0,Turns out to be just as shady as uber. They l...,Lyft,,35715,2.0,None,"Automotive, Hotels & Travel, Taxis, Transporta..."
...,...,...,...,...,...,...,...,...,...
4069,1,1,I have never posted a negative review on any s...,Americas Best Value Inn Madison,3438 Highway 12-18,53704,1.5,"{'RestaurantsPriceRange2': '1', 'WiFi': 'u'fre...","Hotels & Travel, Hotels, Event Planning & Serv..."
4070,1,0,I rent 200 plus days a year. Was offered an Im...,National Car Rental,4000 International Ln,53704,2.0,None,"Car Rental, Hotels & Travel"
4071,5,1,This was one of the coolest hotels I've stayed...,Hotel Indigo Madison Downtown,901 E Washington Ave,53703,5.0,"{'BusinessAcceptsBitcoin': 'False', 'Wheelchai...","Venues & Event Spaces, Hotels & Travel, Hotels..."
4072,1,0,The worst National I've been to across the who...,National Car Rental,4000 International Ln,53704,2.0,None,"Car Rental, Hotels & Travel"
4073,5,1,Such a great experience from check in to check...,Hotel Indigo Madison Downtown,901 E Washington Ave,53703,5.0,"{'BusinessAcceptsBitcoin': 'False', 'Wheelchai...","Venues & Event Spaces, Hotels & Travel, Hotels..."

,review_id,user_id,business_id,stars_x,useful,funny,cool,text,date,name,address,postal_code,latitude,longitude,stars_y,review_count,is_open,attributes,categories,hours
2,H0OlZnbjlCcLxZnUsp6p5g,g64lOV39xSLRZO0aQQ6DeQ,DHcbeJ-5tk2RQ4SdcdJqkA,4,1,0,1,Our room on the second floor was very nice. Th...,2015-01-18 15:02:00,Hotel Ruby Marie,524 E Wilson St,53703,43.076340,-89.376209,4.0,62,1,"{'RestaurantsPriceRange2': '2', 'BusinessAccep...","Bed & Breakfast, Hotels & Travel, Hotels, Even...","{'Monday': '0:0-23:59', 'Tuesday': '0:0-23:59'..."
5,6dTFmw20I_svZHd6khQKWw,KRPaR60LC2QkPdHb3tk3rA,DHcbeJ-5tk2RQ4SdcdJqkA,3,0,1,0,This hotel has good intentions. The service ...,2013-01-27 19:18:31,Hotel Ruby Marie,524 E Wilson St,53703,43.076340,-89.376209,4.0,62,1,"{'RestaurantsPriceRange2': '2', 'BusinessAccep...","Bed & Breakfast, Hotels & Travel, Hotels, Even...","{'Monday': '0:0-23:59', 'Tuesday': '0:0-23:59'..."
12,KSYB5MupxVlNeUsFyegLAg,V7ZbyJs0wZBWuyh2k5aJ6Q,DHcbeJ-5tk2RQ4SdcdJqkA,4,0,0,0,I throughly enjoyed my stay in this very neat ...,2017-03-04 03:12:44,Hotel Ruby Marie,524 E Wilson St,53703,43.076340,-89.376209,4.0,62,1,"{'RestaurantsPriceRange2': '2', 'BusinessAccep...","Bed & Breakfast, Hotels & Travel, Hotels, Even...","{'Monday': '0:0-23:59', 'Tuesday': '0:0-23:59'..."
14,o83rk-vJ2M2OsfvhlkTGlg,Wc5L6iuvSNF5WGBlqIO8nw,DHcbeJ-5tk2RQ4SdcdJqkA,3,5,3,2,"Ok, so I chose this place because I love old, ...",2014-10-27 20:02:45,Hotel Ruby Marie,524 E Wilson St,53703,43.076340,-89.376209,4.0,62,1,"{'RestaurantsPriceRange2': '2', 'BusinessAccep...","Bed & Breakfast, Hotels & Travel, Hotels, Even...","{'Monday': '0:0-23:59', 'Tuesday': '0:0-23:59'..."
15,suXALaeRfvw8_xU_V9Mjhg,7Yj37egzR2l7YOn_UOFsZg,DHcbeJ-5tk2RQ4SdcdJqkA,5,2,0,2,I'm giving this locally owned spot 5 stars for...,2010-11-22 19:10:05,Hotel Ruby Marie,524 E Wilson St,53703,43.076340,-89.376209,4.0,62,1,"{'RestaurantsPriceRange2': '2', 'BusinessAccep...","Bed & Breakfast, Hotels & Travel, Hotels, Even...","{'Monday': '0:0-23:59', 'Tuesday': '0:0-23:59'..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4057,-Zr5X9AanUpzwQFoW62H8w,ID2gzjl3uiZLSHo6Ob3RVw,t4vVVdoMQnmeB9hBJXh7iQ,3,0,0,0,Stayed a week in one of the large suites. It's...,2019-08-27 18:39:14,Hotel Indigo Madison Downtown,901 E Washington Ave,53703,43.082209,-89.372927,5.0,13,1,"{'BusinessAcceptsBitcoin': 'False', 'Wheelchai...","Venues & Event Spaces, Hotels & Travel, Hotels...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
4065,FA7rSaOPljnIDZYo2KrKdw,151QZPM75zkCyL9vVcA9QQ,t4vVVdoMQnmeB9hBJXh7iQ,5,2,0,1,We stayed at this hotel as part of a wedding b...,2019-08-25 16:57:20,Hotel Indigo Madison Downtown,901 E Washington Ave,53703,43.082209,-89.372927,5.0,13,1,"{'BusinessAcceptsBitcoin': 'False', 'Wheelchai...","Venues & Event Spaces, Hotels & Travel, Hotels...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
4068,kOWjq_1uZEBIx1yC1p_mDg,K31UKHSATuG-bfFX52enLQ,t4vVVdoMQnmeB9hBJXh7iQ,5,0,0,0,I thoroughly enjoyed my stay at Hotel Indigo. ...,2019-05-12 15:42:32,Hotel Indigo Madison Downtown,901 E Washington Ave,53703,43.082209,-89.372927,5.0,13,1,"{'BusinessAcceptsBitcoin': 'False', 'Wheelchai...","Venues & Event Spaces, Hotels & Travel, Hotels...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
4071,mjAnnbBXBCw4bZuVjOVPTQ,0TmJQrW1r1OUx-DQmweOCA,t4vVVdoMQnmeB9hBJXh7iQ,5,1,0,0,This was one of the coolest hotels I've stayed...,2019-06-20 18:37:54,Hotel Indigo Madison Downtown,901 E Washington Ave,53703,43.082209,-89.372927,5.0,13,1,"{'BusinessAcceptsBitcoin': 'False', 'Wheelchai...","Venues & Event Spaces, Hotels & Travel, Hotels...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
4073,lGNERPkwzLzeUsI_kjsB6g,-vLGj7P42F7majtixA3PHQ,t4vVVdoMQnmeB9hBJXh7iQ,5,1,0,0,Such a great experience from check in to check...,2019-07-24 12:16:05,Hotel Indigo Madison Downtown,901 E Washington Ave,53703,43.082209,-89.372927,5.0,13,1,"{'BusinessAcceptsBitcoin': 'False', 'Wheelchai...","Venues & Event Spaces, Hotels & Travel, Hotels...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."